@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.lista{
    background-color: rgb(130, 130, 240);
    width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
    border: solid 1px transparent;
}


.anadir{
    display: flex;
    align-content: space-between;
}

.anadir h1{
    color: white;
}

.anadir .inputtask{
    width: 80%;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: solid 1px transparent;
    font-weight: 800;
}

.anadir ::placeholder{
    font-weight: 900;
}

.anadir button{
    padding: 10px 5px;
    display: inline-block;
    border-radius: 5px;
    border: solid 1px transparent;
    cursor:pointer;
    font-weight: bold;
    opacity: 0.6;
    pointer-events: none;
}

.anadir button.active{
    opacity: 1;
    pointer-events: auto;
}

.anadir button i{
    font-size: 20px;
    align-content: center;
}

.tasks h3{
    color: white;
    margin-top: 30px;
}

.listaa{
    width: 100%;
}

.listaa li{
    list-style: none;
    height: 40px;
    line-height: 40px;
    position: relative;
    color: white;
    border-radius: 5px;
    border: solid 1px white;
    margin-bottom: 5px;
    padding: 0 15px;
}

.listaa li span{
    position: absolute;
    right: 0px;
    color: black;
    width: 40px;
    text-align: center;
    cursor: pointer;
}

.pendientes{
    color: white;
    margin-top: 15px;
}

.pendientes button{
    padding: 2px;
    border: solid 10px transparent;
    border-radius: 5pc;
    font-weight: 800;
    cursor: pointer;
}

.pendientes button.active{
    opacity: 0.6;
    pointer-events: auto;
}